body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
margin-top: 20%;

    /* display: flex; */
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: 'Arial', sans-serif;
}
p {
    
align-self: center;
justify-content: center;
display: flex;
}
body {
    background: linear-gradient(45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradientAnimation 15s ease infinite;
    padding: 20px;
    color: white; /* Set text color to contrast with the background */
}

h1 {
    font-weight: bold;
}

.bold-line {
    font-weight: bold;
    display: inline;
    border-bottom: 1px solid white;
    margin: 0 10px;
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
